@model ETG_TASK.Models.Blog;

@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "UploadPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <form method="post" enctype="multipart/form-data" asp-controller="Blog" asp-action="UploadPost">
        <span>Select File:</span>
        <input type="file" name="postedFiles" multiple /><br />
        <span style="color:green">@Html.Raw(ViewBag.Message)</span><br />
        <a>Enter the title</a><br />
        <input asp-for="Title" type="text" placeholder="Title"> <br />
        <span style="color:red">@Html.Raw(ViewBag.Message)</span><br />
        <a>Choose a Category</a><br />
        <select asp-for="Category">
            <option value="Technology">Technology</option>
            <option value="Nature">Nature</option>
            <option value="Architecture">Architecture</option>
            <option value="Art">Art</option>
            <option value="Sport">Sport</option>
        </select><br />
        <a>Write something about your post</a><br />
        <textarea asp-for="Text" placeholder="Message" required=""></textarea><br />
        <input asp-controller="Blog" asp-action="Index" type="submit" value="Send"><br />
        <span style="color:red">@Html.Raw(ViewBag.Message)</span><br />
    </form>
</body>







